@import "./potato.css";
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #596275;
}
h1 {
  color: #273c75;
  transition: color 2s ease-in-out;
  transition: opacity 5s ease-in-out;
}
.clicked {
  color: #2e86de;
}
.btn {
  cursor: pointer;
}

.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
