body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #dfe6e9;
}
h1 {
  color: #273c75;
  transition: color 2s ease-in-out;
  transition: opacity 5s ease-in-out;
}
.clicked {
  color: #2e86de;
}
.btn {
  cursor: pointer;
}

.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}
